<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<div
		th:replace="~{head :: myHead(currentTitle='Ajouter relation', currentURL='../../css/connexion.css') }"></div>
	<body>
		<div th:replace="~{header :: myHeader(currentPage='connexion')}"></div>
		<main>
			<div
				th:replace="~{fieldsErrorsMessages :: fieldsErrorsMessages(currentError='connexionForm.email')}"></div>

			<form method="post" th:object="${connexionForm}" class="form-inline container">
				<div class="form-group">
					<label for="relation">Chercher une relation</label>
					<input type="text" class="form-control" id="relation" placeholder="Saisir une addresse mail"
						th:field="*{email}">
				</div>
				<button type="submit" class="btn btn-warning btn-block mt-3">Ajouter</button>
			</form>
		</main>
		<div th:replace="~{footer :: myFooter}"></div>
	</body>
</html>