<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<div
		th:replace="~{head :: myHead(currentTitle='Ajouter relation', currentURL='../../css/connexion.css') }"></div>
	<body>
		<div th:replace="~{header :: myHeader(currentPage='connexion')}"></div>
		<main class="container">
			<div class="alert alert-danger ">
				<p th:each="err : ${#fields.errors('loginForm.connexion.email')}" th:text="${err}">
				</p>
			</div>
			<form action="#" th:action="@{/connexion}" method="post" th:object="${loginForm}"
				class="form-inline">
				<div class="form-group">
					<label for="relation">Chercher une relation</label>
					<input type="text" class="form-control" id="relation" placeholder="Saisir une addresse mail"
						th:field="*{connexion.email}">
				</div>
				<button type="submit" class="btn btn-warning btn-block mt-3">Ajouter</button>
			</form>
		</main>
		<footer></footer>
	</body>
</html>