<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<div
		th:replace="~{head :: myHead(currentTitle='Ajouter relation', currentURL='../../css/connexion.css') }"></div>
	<body>
		<div th:replace="~{header :: myHeader(currentPage='connexion')}"></div>
		<main>
			<form method="post" th:object="${connexionForm}" class="form-inline container">
				<div
					th:replace="~{flashAttributeMessage :: flashAttributeMessage(currentMessage=${success} ,
					alertType='success')}"></div>
				<div
					th:replace="~{flashAttributeMessage :: flashAttributeMessage(currentMessage=${error} ,
					alertType='error')}"></div>
				<div class="form-group">
					<label for="relation">Chercher une relation</label>
					<input type="text"
						class="form-control"
						id="relation"
						placeholder="Saisir une addresse mail"
						th:field="*{email}"
						aria-describedby="relationHelp" required>
				</div>
				<button type="submit" class="btn btn-warning btn-block mt-3">Ajouter</button>
				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="relationHelp"
					class="form-text text-danger">pour tester</small>
			</form>
		</main>
		<div th:replace="~{footer :: myFooter}"></div>
	</body>
</html>