<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>Changer le mot de passe</title>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../../css/password.css">

	</head>
	<body>
		<header class="mt-5 mb-5">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#">Pay My Buddy</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" th:href="@{/transaction}">Transférer</a>
						<a class="nav-item nav-link active" id="pageActive" th:href="@{/user/profile}">Profil<span
								class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" th:href="@{/user/connexion}">Ajouter relation</a>
						<a class="nav-item nav-link" th:href="@{/logout}">Se déconnecter</a>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<form class="form-inline" method="post" th:object="${loginForm}">
				<div class="form-group">
					<div class="form-row">
						<label for="oldPassword">Ancien mot de passe</label>
						<input type="password" class="form-control" id="oldPassword"
							placeholder="Ancien mot de passe"
							th:field="${loginForm.oldPassword}" required>
					</div>

					<div class="form-row">
						<label for="newPassword">Nouveau mot de passe</label>
						<input type="password" class="form-control" id="newPassword"
							placeholder="Nouveau mot de passe"
							th:field="${loginForm.password}" required>
					</div>

					<div class="form-row">
						<label for="confirmPassword">Confirmer le mot de passe</label>
						<input type="password" class="form-control" id="confirmPassword"
							placeholder="Confirmer le mot de passe"
							th:field="${loginForm.passwordConfirmation}" required>
					</div>

					<button type="submit" class="btn btn-warning btn-block mt-3">Valider</button>
				</div>
			</form>
		</main>

		<footer></footer>
	</body>
</html>
