<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<div
		th:replace="~{head :: myHead(currentTitle='Changer le mot de passe', currentURL='../../css/password.css')}"></div>
	<body>
		<div th:replace="~{header :: myHeader(currentPage='profile')}"></div>
		<div
			th:replace="~{fieldsErrorsMessages :: fieldsErrorsMessages(currentError='passwordForm.oldPassword')}"></div>
		<div
			th:replace="~{fieldsErrorsMessages :: fieldsErrorsMessages(currentError='passwordForm.password')}"></div>

		<main>
			<form class="form-inline" method="post" th:object="${passwordForm}">
				<div class="form-group">
					<div class="form-row">
						<label for="oldPassword">Ancien mot de passe</label>
						<input type="password" class="form-control" id="oldPassword"
							placeholder="Ancien mot de passe"
							th:field="*{oldPassword}" required>
					</div>
					<div class="form-row">
						<label for="newPassword">Nouveau mot de passe</label>
						<input type="password" class="form-control" id="newPassword"
							placeholder="Nouveau mot de passe"
							th:field="*{password}" required>
					</div>
					<div class="form-row">
						<label for="confirmPassword">Confirmer le mot de passe</label>
						<input type="password" class="form-control" id="confirmPassword"
							placeholder="Confirmer le mot de passe"
							th:field="*{passwordConfirmation}" required>
					</div>

					<button type="submit" class="btn btn-warning btn-block mt-3"
						aria-label="Cliquez pour valider le changement de mot de passe">Valider</button>
				</div>
			</form>
		</main>
		<div th:replace="~{footer :: myFooter}"></div>
	</body>
</html>
