<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<div
		th:replace="~{head :: myHead(currentTitle='Profil', currentURL='../../css/profile.css')}"></div>
	<body>
		<div th:replace="~{header :: myHeader(currentPage='profile')}"></div>
		<div th:if="${successMessage}" class="alert alert-success container">
			<span th:text="${successMessage}"></span>
		</div>
		<main>
			<form method="get" th:object="${profilForm}" class="form-inline">
				<div class="form-group">
					<div class="form-row">
						<label for="username">Username</label>
						<input type="text" class="form-control" id="username" th:placeholder="${profilForm.username}"
							disabled>
					</div>

					<div class="form-row">
						<label for="email">Mail</label>
						<input type="text" class="form-control" id="email" th:placeholder="${profilForm.email}"
							disabled>
					</div>

					<div class="form-row">
						<label for="password">Mot de passe</label>
						<input type="password" class="form-control" id="password"
							placeholder="********" disabled>
					</div>
					<a href="/user/updatePassword" class="btn btn-warning btn-block mt-3">Modifier</a>
				</div>
			</form>
		</main>
		<footer></footer>
	</body>
</html>