.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: x-large;
  width: min-content;
  height: auto;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: x-large;
  color: white !important;
  background-color: orange;
  padding: 15px;
  border-radius: 10px;
}

.card-title {
  display: inline-block;
  width: min-content;
  margin-top: 50px;
  margin-bottom: 60px;
}

.card {
  display: grid;
  border: 2px solid black;
  border-radius: 0%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: grid;
  place-items: center;
}

.grid-form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  place-items: center;
  width: 100%;
  row-gap: 30px;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
}

#email,
#username,
#password {
  width: 100%;
  min-width: 280px;
  padding: 10px;
  border-radius: 10px;
}

.form-group #username+small {
  max-width: 280px;
}

.form-group #email+small {
  max-width: 280px;
}

.form-group #password+small {
  max-width: 280px;
}

.form-group small {
  display: block;
  width: 100%;
}

.card .alert {
  width: fit-content;
  margin: 10px;
  justify-self: center;
}

body .alert {
  font-size: large;
  font-weight: 600
}

@media (max-width: 576px) {
  .card {
    width: 80%;
  }

  #email,
  #username,
  #password {
    min-width: auto;

  }
}