#pageActive {
    color: #007bff !important;
    font-weight: 700 !important;
}

a {
    color: black !important;
    font-size: x-large !important;
}

header {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 600 !important;
}

.nav-bar .navbar-brand {
    color: black;
}

.nav-item.nav-link {
    color: black;
    margin-left: 30px;
}

main {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

h4 {
    font-weight: bold;
}

.form-inline {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

#relation {
    min-width: 280px;
}

#description {
    min-width: 140px;
}

#relation,
#description {
    height: 80px;
    width: 100%;
    font-weight: 400;
    font-size: x-large;
    color: black !important;
}

#description::placeholder {
    color: black;
}

.input-group {
    width: 100%;
    min-width: 100px;
    height: 120px;
    margin-right: 20px;
}

.input-group #montant {
    font-weight: 400;
    font-size: x-large;
}

.form-control {
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

.form-inline .btn {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    height: min-content;
    width: max-content;
    justify-self: center;
    align-self: center;
    margin: auto;
    font-weight: 600;
    border-radius: 10px;
}

.listOfTransaction {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 150px;
    font-size: x-large;
    border-radius: 10px;
    min-width: 400px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 10;
    border-radius: 10px;
}

.table thead tr th {
    border-top: none;
}

.alert {
    width: fit-content;
    justify-self: start;
    margin-left: 50px;
}

body .alert {
    font-size: large;
    font-weight: 600
}

@media (max-width: 1000px) {
    .listOfTransaction * {
        zoom: 0.9;
    }

    .form-inline * {
        zoom: 0.9;
    }
}

@media (max-width: 800px) {
    .listOfTransaction * {
        zoom: 0.85;
    }

    .form-inline * {
        zoom: 0.85;
    }
}

@media (max-width: 700px) {
    .listOfTransaction * {
        zoom: 0.75;
    }

    .form-inline * {
        zoom: 0.75;
    }
}

@media (max-width: 600px) {
    .listOfTransaction * {
        zoom: 0.65;
    }

    .form-inline * {
        zoom: 0.65;
    }
}

@media (max-width: 500px) {
    .form-inline * {
        zoom: 0.6;
    }
}