<header th:fragment="myHeader">
    <nav class="navbar navbar-expand-lg navbar-light mt-5 mb-5" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/transaction}"
                aria-label="Page d'accueil Pay My Buddy">Pay My Buddy</a>
            <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Ouvrir ou fermer le menu de navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end"
                id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a th:id="${currentPage == 'transaction' ? 'pageActive' : ''}"
                        th:class="${currentPage == 'transaction' ? 'nav-item nav-link active' : 'nav-item nav-link'}"
                        th:href="@{/transaction}"
                        aria-label="Page de transfert"
                        th:aria-current="${currentPage == 'transaction' ? 'page': ''}">Transférer</a>
                    <a th:id="${currentPage == 'profile' ? 'pageActive' : ''}"
                        th:class="${currentPage == 'profile' ? 'nav-item nav-link active' : 'nav-item nav-link'}"
                        th:href="@{/user/profile}"
                        aria-label="Page du profil"
                        th:aria-current="${currentPage == 'profile' ? 'page': ''}">Profil</a>
                    <a th:id="${currentPage == 'connexion' ? 'pageActive' : ''}"
                        th:class="${currentPage == 'connexion' ? 'nav-item nav-link active' : 'nav-item nav-link'}"
                        th:href="@{/user/connexion}"
                        aria-label="Page d'ajout de relation"
                        th:aria-current="${currentPage == 'connexion' ? 'page': ''}">Ajouter
                        relation</a>
                    <a class="nav-item nav-link"
                        th:href="@{/logout}"
                        aria-label="Se déconnecter"
                        title="Se déconnecter">Se déconnecter</a>
                </div>
            </div>
        </div>
    </nav>
</header>
